/* FIXES */
*, html {
	margin:0;
	padding:0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
::-webkit-input-placeholder { color:#E5E5E5;}
:-moz-placeholder { color:#E5E5E5;}
::-moz-placeholder { color:#E5E5E5;}
:-ms-input-placeholder { color:#E5E5E5;}
/* END FIXES */
@font-face {
	font-family: 'vlistus';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-admin:before, .icon-collab:before, .icon-play:before, .icon-wrong:before, .icon-right:before, .icon-heart:before {
	font-family: 'vlistus';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	padding-right:10px;
}
.icon-admin:before { content: "\61"; }
.icon-collab:before { content: "\73"; }
.icon-play:before { content: "\70"; }
.icon-wrong:before { content: "\77"; }
.icon-right:before { content: "\72"; }
.icon-heart:before { content: "\68"; }
body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
	color:#999999;
	font-size: 15px;
	padding-bottom:60px;
}
body.play {padding:0px;}
a {
	text-decoration: none;
	color:#2EB3D2;
}
	a:hover {text-decoration: underline;}
.wrap {
	width: 100%;
	max-width: 980px;
	margin:0px auto;
}
#message-area {
	color:#FF444A;
	text-align: center;
	margin:20px auto;
}
#header {
	width: 100%;
}
	#header .wrap {
		padding:40px 0px;
		border-bottom:1px solid #E5E5E5;
	}
	#header .logo {
		width:192px;
		height: auto;
		display: block;
		margin:0px auto;
	}
#container {
	width: 100%;
	max-width: 980px;
	margin:40px auto;
}
	#presentation {
		text-align: center;
		margin-bottom:40px;
	}
		#presentation i {
			color:#FF444A;
			font-size: 55px;
		}
	#presentation .title {
		color:#333333;
		font-size: 50px;
		font-weight: 200;
	}
	#presentation .subtitle {
		color:#999999;
		font-size: 25px;
		font-weight: 100;
	}
	#presentation .url {
		font-size:30px;
		margin:20px auto;
	}
	#presentation .subtitle.desc {
		font-size:20px;
		width: 640px;
		margin:10px auto;
	}
	#urls {
		border-bottom:1px solid #E5E5E5;
		border-top:1px solid #E5E5E5;
		padding:20px;
		margin-bottom:40px;
	}
		#urls .url {margin:20px auto;}
		#urls .url-type {
			font-size: 20px;
			text-transform: uppercase;
			width: 130px;
			display: inline-block;
			line-height: 20px;
		}
		#urls .url-type:before {
			margin-right:10px;
			border-right:1px solid #E5E5E5;
			font-size:15px;
			line-height: 20px;
			display: inline-block;
		}
		#urls a {
			font-size:30px;
			width: 700px;
			display: inline-block;
		}
		#urls a.button {
			height: 40px;
			line-height: 40px;
			background: #2EB3D2;
			border:0px;
			font-size: 17px;
			color:#fff;
			font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			font-weight: 100;
			text-transform: lowercase;
			display: inline-block;
			float:right;
			padding:0px 10px;
			width: 55px;
			text-align: center;
		}
	#preferences {
		width: 100%;
		max-width: 640px;
		margin:0px auto 150px auto;
	}
		#preferences p {margin-bottom:30px;}
		#preferences label {
			display: block;
			color:#333333;
			font-size: 20px;
			margin:0px 0px 10px 5px;
		}
		#preferences input[type=text], #preferences textarea {
			width: 100%;
			border:1px solid #E5E5E5;
			color:#999999;
			font-size: 20px;
			padding:5px;
			line-height: 38px;
			font-weight: 100;
			height: 38px;
			box-sizing:border-box;
			box-sizing:border-box;
		}
		#preferences textarea {
			height:200px;
			font-size:15px;
			line-height: 20px;
		}

		input[type=submit] {
			float:right;
			height: 40px;
			line-height: 40px;
			background: #2EB3D2;
			border:0px;
			font-size: 17px;
			color:#fff;
			padding:0px 10px;
			font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			font-weight: 100;
			text-transform: lowercase;
			width: 145px;
		}
		.hint {
			margin:5px;
			font-style:italic;
			color:#CCCCCC;
		}
		#video_urls {
			font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			border:1px solid #E5E5E5;
			font-size: 40px;
			padding:10px;
			line-height: 38px;
			font-weight: 100;
			height: 38px;
			float: left;
			margin-right:10px;
			width: 803px;
			margin-bottom:20px;
		}
		#video_submit {
			float:left;
			height: 60px;
			line-height: 60px;
			background: #2EB3D2;
			border:0px;
			font-size: 21px;
			color:#fff;
			padding:0px 10px;
			font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			font-weight: 100;
			text-transform: lowercase;
			width: 145px;
		}
		#description {
			margin:40px auto;
			width: 640px;
		}
		#sharer {
			border-top:1px solid #E5E5E5;
			border-bottom:1px solid #E5E5E5;
			width:315px;
			padding:10px 50px 10px 60px;
			margin:10px auto 30px auto;
			height:20px;
			overflow: hidden;
		}
.home #header {
	padding:1px;
	background:url('../images/bg-header.jpg') no-repeat transparent center bottom;
	padding-bottom:30px;
}
	.home #header .wrap {
		padding:0px;
		border:0px;
	}
	.home #header .logo {
		width: 16%;
		margin:40px auto;
	}
		.home #header .logo img {
			width: 100%;
			height: auto;
		}
		.home #header h1 {
			font-weight: 100;
			color:#fff;
			text-align: center;
			font-size: 75px;
			margin-bottom:10px;
		}
		.home #header h2 {
			font-weight: 100;
			color:#fff;
			text-align: center;
			font-size: 25px;
			margin-bottom:50px;
		}
.home #create {
	width: 100%;
	max-width: 980px;
	margin:40px auto;
	font-size: 40px;
	color:#FF444B;
}
	.home label {
		float:left;
		line-height: 40px;
		padding:10px 0px;
		margin-right:10px;
		width: 225px;
	}
	.home #name {
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		border:1px solid #E5E5E5;
		font-size: 40px;
		padding:10px;
		line-height: 38px;
		font-weight: 100;
		height: 38px;
		float: left;
		margin-right:10px;
		width: 555px;
		margin-bottom:20px;
	}
	.home #submit {
		float:left;
		height: 60px;
		line-height: 60px;
		background: #2EB3D2;
		border:0px;
		font-size: 21px;
		color:#fff;
		padding:0px 10px;
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		font-weight: 100;
		text-transform: lowercase;
		width: 145px;
	}
	.home #available {
		display: block;
		text-align: center;
		font-size: 15px;
		color:#999999;
		clear: both;
		height:15px;
	}
.home #steps {
	width: 100%;
	max-width: 980px;
	margin:90px auto;
	padding-top:90px;
	border-top:1px solid #E5E5E5;

}
	.home #steps .step {
		float:left;
		width: 33%;
		text-align: center;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		padding:0px 3%;
	}
		.home #steps .step .number {
			display: block;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background: #FF444B;
			margin:0px auto 70px auto;
			text-align: center;
			line-height: 100px;
			color:#fff;
			font-size:50px;
			font-weight: bold;
			position: relative;
		}
		.home #steps .step .number:before {
			display: block;
			width: 100px;
			height: 20px;
			border-radius: 50%;
			background: transparent;
			box-shadow:0px 120px 22px -7px #e5e5e5;
			content: " ";
			display: block;
			position: absolute;
		}
		.home #steps .step h2 {
			font-size: 40px;
			color:#FF444B;
			margin-bottom:10px;
		}

.overlay {
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	z-index:100;
}
.popup {
	z-index:110;
	display:none;
	border:1px solid #E5E5E5;
	position: fixed;
	width:50%;
	padding:50px;
	top:-1px;
	left:50%;
	margin-left:-25%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #fff
}
	.popup h2 {
		color:#333333;
		font-size: 30px;
		font-weight: 200;
		text-align: center;
		margin-bottom:30px;
	}
	.popup input {
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		border:1px solid #E5E5E5;
		font-size: 30px;
		padding:10px;
		line-height: 48px;
		font-weight: 100;
		height: 48px;
		float: left;
		margin-right:10px;
		width: 100%;
		margin-bottom:40px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.popup ul {
		width:100%;
		text-align: center;
	}
	.popup ul li {
		display: inline;
		list-style: none;
		margin:0px 20px;

	}
#footer a {color:#FF444A;}
#footer {
	z-index: 100;
	position: fixed;
	bottom:0px;
	width: 100%;
	background: #fff;
	border-top:1px solid #E5E5E5;

	transition: all 0.1s linear;
}
.play #footer {
	position: relative;
	bottom:auto;
}
	#footer .wrap {
		transition: all 0.1s linear;
		padding:20px 0px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	#footer .copy {float:right;}
	#footer:hover .wrap {padding:30px 10px; }