/* FIXES */
*, html {
	margin:0;
	padding:0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
::-webkit-input-placeholder { color:#E5E5E5;}
:-moz-placeholder { color:#E5E5E5;}
::-moz-placeholder { color:#E5E5E5;}
:-ms-input-placeholder { color:#E5E5E5;}
/* END FIXES */
body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
	color:#999999;
	font-size: 15px;
	padding-bottom:60px;
}
a {
	text-decoration: none;
	color:#FF444A;
}
	a:hover {text-decoration: underline;}
.wrap {
	width: 100%;
	max-width: 980px;
	margin:0px auto;
}
.home #header {
	padding:1px;
	width: 100%;
	background:url('../images/bg-header.jpg') no-repeat transparent center bottom;
	padding-bottom:30px;
}
	.home #header .logo {
		display: block;
		width: 16%;
		margin:40px auto;
	}
		.home #header .logo img {
			width: 100%;
			height: auto;
		}
		.home #header h1 {
			font-weight: 100;
			color:#fff;
			text-align: center;
			font-size: 75px;
			margin-bottom:10px;
		}
		.home #header h2 {
			font-weight: 100;
			color:#fff;
			text-align: center;
			font-size: 25px;
			margin-bottom:50px;
		}
.home #create {
	width: 100%;
	max-width: 980px;
	margin:40px auto;
	font-size: 40px;
	color:#FF444B;
}
	.home label {
		float:left;
		line-height: 40px;
		padding:10px 0px;
		margin-right:10px;
		width: 225px;
	}
	.home #name {
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		border:1px solid #E5E5E5;
		font-size: 40px;
		padding:10px;
		line-height: 38px;
		font-weight: 100;
		height: 38px;
		float: left;
		margin-right:10px;
		width: 555px;
		margin-bottom:20px;
	}
	.home #submit {
		float:left;
		height: 60px;
		line-height: 60px;
		background: #FF444A;
		border:0px;
		font-size: 21px;
		color:#fff;
		padding:0px 10px;
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		font-weight: 100;
		text-transform: lowercase;
		width: 145px;
	}
	.home #available {
		display: block;
		text-align: center;
		font-size: 15px;
		color:#999999;
		clear: both;
		height:15px;
	}
.home #steps {
	width: 100%;
	max-width: 980px;
	margin:90px auto;
	padding-top:90px;
	border-top:1px solid #E5E5E5;

}
	.home #steps .step {
		float:left;
		width: 33%;
		text-align: center;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		padding:0px 3%;
	}
		.home #steps .step .number {
			display: block;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background: #FF444B;
			margin:0px auto 70px auto;
			text-align: center;
			line-height: 100px;
			color:#fff;
			font-size:50px;
			font-weight: bold;
			position: relative;
		}
		.home #steps .step .number:before {
			display: block;
			width: 100px;
			height: 20px;
			border-radius: 50%;
			background: transparent;
			box-shadow:0px 120px 22px -7px #e5e5e5;
			content: " ";
			display: block;
			position: absolute;
		}
		.home #steps .step h2 {
			font-size: 40px;
			color:#FF444B;
			margin-bottom:10px;
		}
.home #footer {
	position: fixed;
	bottom:0px;
	width: 100%;
	background: #fff;
	border-top:1px solid #E5E5E5;

	transition: all 0.1s linear;
}
	.home #footer .wrap {
		transition: all 0.1s linear;
		padding:20px 0px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.home #footer .copy {float:right;}
	.home #footer:hover .wrap {padding:30px 10px; }